<template>  
    <div class="container">
        
        <form @submit.prevent="addSkill">

            <input type="text" placeholder="Enter a skill you have..." v-model="skill"  v-validate="'min:5'" name="skill">
            
            <transition name="alert-in" enter-active-class="animated flipInX" leave-active-class="animated flipOutX">
                <p class="alert" v-if="errors.has('skill')"> {{ errors.first('skill') }} </p>
            </transition>

        </form>
        <div class="holder">
            <ul>
                <transition-group name="list" enter-active-class="animated flipInX" leave-active-class="animated flipOutX">
                    <li v-for="(data, index) in skills" :key="index">
                        {{data.skill}}
                        <i class="fa fa-times-circle" v-on:click="remove(index)"></i>    
                    </li>            
                </transition-group>
            </ul>
        
            <p>these are the skills that possess.</p>
        </div>
    </div>
</template>

<script>
export default {
    name: 'Skills',
    data () {
      return {
        skill: '',
        skills: [
          {"skill": "vuejs"},
          {"skill": "angular"}
        ]
      }
    },
    methods: {
        addSkill() {
            this.$validator.validateAll().then((results) => {
                if(results){
                    this.skills.push({skill: this.skill});
                    this.skill = '';
                    console.log("add skill");
                }else{
                    console.log("Not validate");
                }
            });
        },
        remove(id){
            this.skills.splice(id,1);
        }
    }
}
</script>

<style src="./Skills.css" scoped></style>
