@import "https://cdn.jsdelivr.net/npm/animate.css@3.5.1";
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";

.holder{
    background: #FFF;
}
ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
ul li{
    padding: 20px;
    font-size: 1.3 em;
    background-color: #E0EDF4;
    border-left: 5px solid #3EB3F6;
    margin-bottom: 2px;
    color: #3E5252;
}
p{
    text-align: center;
    padding: 30px 0px;
    color: gray;
}
.container{
    box-shadow: 0px 0px 40px lightgray;
}
input{
    width:calc(100% - 40px);
    border: 0;
    padding: 20px;
    font-size: 1.3em;
    background-color: #323333;
    color: #6F7F7F;
}
i{
    cursor: pointer;
    float: left;
    margin-right:10px; 
}
.alert{
    background: #FDF2CE;
    font-weight: bold;
    display: inline-block;
    padding: 5px;
    margin-top: -20px;
}
.alert-in-enter-active{
    animation: bounce-in .5s;
}
.alert-in-leave-active{
    animation: bounce-in .5s reverse;
}
@keyframes bounce-in{
    0%{
        transform: scale(0);
    }
    50%{
        transform: scale(1.5);
    }
    100%{
        transform: scale(1);
    }
}
