<template>
    <div>
        <h1>hello! {{ their_name }}</h1>
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Modi, quibusdam facere? Labore nesciunt saepe, possimus eos repellendus suscipit maiores ratione harum! Repellat laborum et itaque cupiditate iusto recusandae nostrum error.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, iure. Iste aliquid alias molestias aut obcaecati expedita libero iure magnam, fuga odit harum ut nemo laboriosam explicabo amet eligendi mollitia!
        </p>
    </div>
</template>

<script>
    export default {
        name: 'About',
        data() {
            return{
                their_name: 'gonza'//this.$route.params.name
            }
        }

    }
</script>
