<template>
  <div class="hello">
    <h1>v-on v-bind</h1>
    {{ name }}
    <br>
    {{ btnState ? "the button is disable" : "pleace change your name"}}
    <br>
    <button v-on:Click="chageName" v-bind:disabled="btnState"> chage Name </button>
    <br>
    <br>
    <h1>v-for</h1>
    <div class="holder">
      <ul>
        <li v-for="(data, index) in skills" :key="index">{{index}}.{{data.skill}}</li>
      </ul>
      
      <div v-if="skills.lenght > 3">you have more than 3 skills</div>
      <div v-eles>you have less than 3 skills</div>
      
      
      <div v-bind:class="{alert: showAlert}"></div> 
      <div v-bind:style="{ backgroundColor: bgColor, width: bgWidth, height: bgHeight }"></div>
    
    </div>
  </div>
</template>

<script>
export default {
    name: 'Eg',
    data () {
      return {
        name: "seba_Ink",
        btnState: true,
        skills: [
          {"skill": "vuejs"},
          {"skill": "angular"},
          {"skill": "react"},
          {"skill": "preact"}
        ],
        showAlert: true,
        bgColor: 'yellow', 
        bgWidth: '100%', 
        bgHeight: '30px'
      }
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style src="./Skills.css" scoped></style>
